{% extends 'Layout.html' %}

    {% block content %}
        
        <div class="container col-lg-5"> 
            <div class="container text-black border p-lg-3">
                <form method="POST" action="" novalidate>
                    {{ form.hidden_tag() }}
                    <div>
                        <!-- Pills navs -->
                        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="{{url_for('FrontG.login')}}" role="tab"
                            aria-controls="pills-login" aria-selected="true">Sign In</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="{{ url_for('FrontG.registration') }}" role="tab"
                            aria-controls="pills-register" aria-selected="false">Sign Up</a>
                        </li>
                        </ul>
                        <!-- Pills navs -->
                        <br />
                    </div>
                    <div>
                        <!-- Pills content -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                            <form>
                                <div class="text-center mt-3">
                                <p>Login:</p>
                                </div>
       
                                <!-- Phone input -->
                                <div class="form-outline mb-1">
                                    {{ form.phonenumber (class="form-control", placeholder="e.g +251-911223344") }}
                                    {{ form.phonenumber.label (class="form-label") }}
                                        {% for error in form.phonenumber.errors %}
                                        <div class='' style="color:red;" mb-3>
                                            {{error}}
                                        </div>
                                        {% endfor %}
                                </div>
                        
                                <!-- Password input -->
                                <div class="form-outline mb-1">
                                    {{ form.password (class="form-control") }}
                                    {{ form.password.label (class="form-label") }}
                                    {% for error in form.password.errors %}
                                        <div class='' style="color:red;">
                                            {{error}}
                                        </div>
                                    {% endfor %}
                                </div>
                        
                                <!-- 2 column grid layout -->
                                <div class="row mb-4">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check mb-3 mb-md-0">
                                    {{ form.remember (class="form-check-input") }}
                                    {{ form.remember.label (class="form-check-label") }}
                                    </div>
                                </div>
                        
                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Simple link -->
                                    <a href="#!">Forgot password?</a>
                                </div>
                                </div>
                        
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                        
                                <!-- Register buttons -->
                                <div class="text-center">
                                <p>Don't Have An Account  <a href="{{ url_for('FrontG.registration') }}">Get Started Here!</a></p>
                                </div>
                            </form>
                            </div>    
                        <!-- Pills content -->
                    </div>
            </div>
        </div>


    {% endblock content %}